{% extends "organization/edit_base.html" %}
{% set dataset_type = h.default_package_type() %}


{% block subtitle %}{{ h.humanize_entity_type('package', dataset_type, 'edit label') or _('Edit datasets') }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block page_primary_action %}
  {% snippet 'snippets/add_dataset.html', group=group_dict.id %}
{% endblock %}

{% block primary_content_inner %}
  <div class="row">
    <h1 class="hide-heading">{{ h.humanize_entity_type('package', dataset_type, 'edit label') or _('Edit datasets') }}</h1>
    <div class="primary col-md-12">
      <h3 class="page-heading">
        {% block page_heading %}
          {%- if page.item_count -%}
            {{ page.item_count }} datasets{{ _(" found for \"{query}\"").format(query=q) if q }}
          {%- elif request.args -%}
            {{ _('Sorry no datasets found for "{query}"').format(query=q) }}
          {%- else -%}
            {{ _('Datasets') }}
          {%- endif -%}
        {% endblock %}
      </h3>

      {% block search_form %}
        {% set sorting = [
            (_('Name Ascending'), 'title_string asc'),
            (_('Name Descending'), 'title_string desc'),
            (_('Last Modified'), 'data_modified desc') ]
                %}
        {% snippet 'snippets/search_form.html', form_id='organization-datasets-search-form', type=dataset_type, query=q, count=page.item_count, sorting=sorting, sorting_selected=sort_by_selected, no_title=true, search_class=' ' %}
      {% endblock %}

      {% block form %}
        
      {% endblock %}
    </div>
  </div>
  {{ page.pager() }}
{% endblock %}

{% block secondary_content %}
    {{  super() }}
    {% for facet in c.facet_titles %}
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extras={'id':group_dict.id}, search_facets=search_facets) }}
  {% endfor %}
{% endblock %}
